h1 {
    font-family: verdana;
    width: 36%;
    text-align: center;
}

#res {
    box-sizing: border-box;
    background-color: lightgray;
    border: solid;
    width: 36%;
    height: 60px;
    font-size: 24px;
    margin: 0px;
}

.operand {
    background-color: deepskyblue;
    color: white;
}

.evaluate {
    background-color: darkblue;
    color: white;
}

.operator {
    background-color: blue;
    color: white;
}

.buttonContainer {
    width: 36%;
    height: 400px;
}

.buttonClass {
    width: 25%;
    height: 50px;
    font-size: 24px;
    float: left;
    border-color: dimgray;
    /* border-style: solid; */
}
